<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <%- include('./partials/stylesheets') -%>
</head>
<body>
    <%- include('./partials/navbar') -%>
        
        <section id="about">
            <div class="container">
                <div class="row text-center align-items-center">
                    <h1 class="text-uppercase">ABOUT ME</h1>
                    <div class="col-md-2"></div>
                    <div class="col-md-3"><img src="images/alpfoto.jpg" class="img-fluid" alt=""></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <h3>Im a web developer</h3>
                        <p>Hey i am Alperen Yildirim. I am Computer Engineer and currently i am studying Artificial Intelligence at Centennial College.</p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>