<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>My Portfolio</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
      <%- include('./partials/stylesheets') -%>
   </head>
   <body>
      <%- include('./partials/navbar') -%>
      <section id="portfolio">
         <div class="container">
            <div class="row text-center align-items-center">
               <h1 class="text-uppercase">MY WORKS</h1>
               <div class="col-md-4">
                  <div class="card">
                     <img src="images/Construction-Estimates_thumbnail-1.png" class="card-img-top" alt="...">
                     <div class="card-body">
                        <h5 class="card-title">2nd Hand Phone Price Estimator Machine Learning Project</h5>
                        <p class="card-text">I designed an algorithm and database that estimates the used phone's price by using Python and Random Forest Regression.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="card">
                     <img src="images/best-rpg-baldurs-gate-3.jpg" class="card-img-top" alt="...">
                     <div class="card-body">
                        <h5 class="card-title">JAIM Game</h5>
                        <p class="card-text">I made an 3D RPG game called JAIM for windows by using Unity as my Senior Project.
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="card">
                     <img src="images/mobile-gestures-ux-design-tap-gesture-swipe-gesture-ui-pattern.png" class="card-img-top" alt="...">
                     <div class="card-body">
                        <h5 class="card-title">Android App: Game Buddies</h5>
                        <p class="card-text">I made an app called Game Buddies. The purpose of app is that people who wants to find a gamer friend. It works similar to Tinder, it has swipe, matching and chatting systems.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
   </body>
</html>